
<!-- 


<% @styles.each do |style| %>
    <div class="col-xs-6 col-md-3">
    <a href="/styles/<%= style.designer %>">
      <img src="<%= style.image %>" class="img-thumbnail">
      <h3 name="<%= style.designer %>">
<% if style.like_user(current_user) %>
   <div id="like-button">
     <%= image_tag("/images/scrap_like_1.jpg") %>
     likes_counter(@likes)
   </div>
<% else %>
   <div id="like-button">
     <%= image_tag("/images/images.png") %>
     <div id="like-sum"><%= likes_counter(@likes) %></div>
  </div>
<% end %>


     </a>
   </div>
  <%end%>

  <%= paginate @styles %> -->